.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) and (max-width: 1079px) {
    width: 730px;
  }
  @media screen and (min-width: 1080px) {
    width: 1080px;
  }
}
