    $hero-background: #FFB8CA;
    $mobile-menu-background: #E17992;
    $semi-white-background-color: #E5E5E5;
    $semi-pink-background-color: #FFF5F6;
    $white-text-color: #ffffff;
    $pre-title-text-color: #FFA5BA;
    $title-text-color: #D41443;
    $primary-button-text-color: #ffffff;
    $secondary-button-text-color: #D41443;
    $digits-text-color: #D41443;
    $black-text-color: #000000;
    $gray-pink-text-color: #907E82;
    $pink-text-color: #FFA5BA;
    $products-header-accent-color: #C7133E;
    $footer-actions-accent-color: #D41342;
    $border-color:#E18298;
    $timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);