<section class="about" id="about">
    <div class="container">
        <p class="about__pre-text">tradition and love</p>
        <h2 class="about__title">how it’s made?</h2>
        <div class="about-container">
            <div class="back">
                <div class="background" data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="250">
                </div>
            </div>
            <div class="about-text">
                <p class="about-text__one">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
                    cursus, faucibus lorem eget,
                    egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>
                <p class="about-text__second">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
                    Mauris rhoncus orci in
                    imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt.

                    Aliquam erat volutpat. Aenean accumsan.</p>
                <button class="about-button" type="button">
                    <span class="about-button__text">Read more
                        <svg class="about-button__icon" width="20" height="20">
                            <use href="../src/images/sprite.svg#icon-chevron-right"></use>
                        </svg>
                    </span> 
                </button>
            </div>
        </div>
    </div>
</section>