<section class="advantages" id="made">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item" data-aos="fade-right" data-aos-delay="250">
        <p class="advantages__description">
          <span class="advantages__number">721</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item" data-aos="fade-up" data-aos-delay="250">
        <p class="advantages__description">
          <span class="advantages__number">16kg</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages__item" data-aos="fade-right" data-aos-delay="250">
        <p class="advantages__description">
          <span class="advantages__number">84</span>
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
