<div class="slider-section container">
<div class="slider">
    <div class="slider__box">
        <div class="slider__item">
            <img  src="images/rew-1.png" alt="Кучерявая девушка">
        </div>
            <div class="slider__text-container">
                <p class="slider__text underline"> 
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
            <div class="slider__title-box">
                <h3 class="slider__title">
                    Emily, Los Angeles
                </h3>
            </div>
    </div>
    <div class="slider__box">
        <div class="slider__item">
            <img  src="images/rew-2.png" alt="Девушка в жолтом платье">
        </div>
            <div class="slider__text-container">
                <span class="underline"></span>
                <p class="slider__text underline">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
            <div class="slider__title-box">
                <h3 class="slider__title">
                    Emma, New York
                </h3>
            </div>
    </div>
    <div class="slider__box">
        <div class="slider__item">
            <img  src="images/rew-3.png" alt="Девушка в очках">
        </div>
            <div class="slider__text-container">
                <p class="slider__text underline">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
        <div class="slider__title-box">
            <h3 class="slider__title">
                Lisa, Chicago
            </h3>
        </div>
            
    </div>
</div>
</div>