<footer class="footer">
    <div class="container">
        <div class="footer__text">
            <p class="footer__text-upper">homemade ice cream made</p>
            <span class="footer__text-lower">with passion</span> 
        </div>
        <div class="contacts">
            <div class="footer__socials">
                <ul class="list footer__socials-list">
                    <li class="footer__socials-item">
                        <a href="https://github.com/" class="footer__socials-link link" target="_blank" rel="noopener noreferer" aria-label="github">
                            <svg width="20" height="20">   
                                <use href="../src/images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__socials-item">
                        <a href="https://web.telegram.org/z/" class="footer__socials-link link" target="_blank" rel="noopener noreferer" aria-label="telegram">
                            <svg width="20" height="20">
                                <use href="../src/images/sprite.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__socials-item">
                        <a href="https://www.facebook.com/" class="footer__socials-link link" target="_blank" rel="noopener noreferer" aria-label="facebook">
                            <svg width="20" height="20">
                                <use href="../src/images/sprite.svg#icon-fb"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__contacts">
                <address>
                        <ul class="footer__contacts-list">
                            <li class="footer__contacts-item"><a href="tel:+610383766284" class="link contacts-tel"> <span
                                        class="tele-text">Feel free to contact</span><span class="tele-number"> +61 (0) 383
                                        766 284</span></a>
                            </li>
                        </ul>
                </address>
            </div>
        </div>
    </div>
    <div class="rights-bg"><span class="rights">© 2019 - IceCream.
        All Rights Reserved.</span></div>
</footer>

