<!-- <section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <picture>
      <source
        srcset="images/gallery-1280-1x.jpg 1x, images/gallery-1280-2x.jpg 2x"
        media="(min-width: 1050px)"
      />
      <source
        srcset="images/gallery-786-1x.jpg 1x, images/gallery-786-2x.jpg 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="images/gallery-364-1x.jpg 1x, images/gallery-364-2x.jpg 2x"
        media="(max-width: 767px)"
      />

      <img class="gallery__image" src="images/gallery-1280-1x.jpg" alt="Gallery" />
    </picture>
  </div>
</section> -->

<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>

    <div class="gallery__grid">
      <div class="gallery__column">
        <div class="gallery__grid-item gallery__grid-item-1">
          <img class="gallery__image" src="images/gallery-pic1.jpg" alt="Gallery" />
        </div>
      </div>

      <div class="gallery__column">
        <div class="gallery__grid-item gallery__grid-item-2">
          <img class="gallery__image" src="images/gallery-pic2.jpg" alt="Gallery" />
        </div>
        <div class="gallery__grid-item gallery__grid-item-7">
          <img class="gallery__image" src="images/gallery-pic7.jpg" alt="Gallery" />
        </div>
      </div>

      <div class="gallery__column">
        <div class="gallery__grid-item gallery__grid-item-3">
          <img class="gallery__image" src="images/gallery-pic3.jpg" alt="Gallery" />
        </div>
        <div class="gallery__grid-item gallery__grid-item-10">
          <img class="gallery__image" src="images/gallery-pic10.jpg" alt="Gallery" />
        </div>
      </div>

      <div class="gallery__column">
        <div class="gallery__grid-item gallery__grid-item-4">
          <img class="gallery__image" src="images/gallery-pic4.jpg" alt="Gallery" />
        </div>
        <div class="gallery__grid-item gallery__grid-item-8">
          <img class="gallery__image" src="images/gallery-pic8.jpg" alt="Gallery" />
        </div>
      </div>

      <div class="gallery__column">
        <div class="gallery__grid-item gallery__grid-item-5">
          <img class="gallery__image" src="images/gallery-pic5.jpg" alt="Gallery" />
        </div>
        <div class="gallery__grid-item gallery__grid-item-9">
          <img class="gallery__image" src="images/gallery-pic9.jpg" alt="Gallery" />
        </div>
      </div>

      <div class="gallery__column">
        <div class="gallery__grid-item gallery__grid-item-6">
          <img class="gallery__image" src="images/gallery-pic6.jpg" alt="Gallery" />
        </div>
      </div>
    </div>
  </div>
</section>
