<section class="hero" id="home">
    <div class="hero__container container">
        <div class="hero__container-first">
            <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="title hero__title-wraper">
                <h1 class="hero__title">
                    ice cream <br />
                    made with
                    <span class="hero__title-accent">passion</span>
                </h1>
                <a class="hero__button-products" href="#products">Products</a>
                <a class="hero__button-about" href="#about">How it’s made?</a>
            </div>
            <div class="hero__milk">
                <picture data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <source srcset="./images/milk-768.png 340w, ./images/milk-768@2x.png 780w"
                        media="(min-width:768px) and (max-width:1079px)"
                        sizes="(min-width:768px) and (max-width:1079px) 340px, 100vw" />
                    <source srcset="./images/milk-1200.png 516w, ./images/milk-1200@2x.png 1032w"
                        media="(min-width:1080px)" sizes="(min-width:1080px) 516px, 100vw" />
                    <img src="./images/milk-768.png" alt="bottle of milk" />
                </picture>
                <div class="hero__milk-thumb" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <p class="hero__milk-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et
                    </p>
                    <button class="hero__button-arrow" type="button" data-info-modal-open>
                        <svg width="10" height="10">
                            <use class="hero__icon-arrow" href="./images/sprite.svg#icon-read-more"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="hero__container-second">
            <picture data-aos="fade-left" data-aos-duration="2000" class="hero__main-img">
                <source srcset="./images/ice-cream-768.png 280w, ./images/ice-cream-768@2x.png 560w"
                    media="(max-width:767px)" sizes="(max-width:767px) 280px" />
                <source srcset="./images/ice-cream-320.png 340w, ./images/ice-cream-320@2x.png 780w"
                    media="(min-width:768px) and (max-width:1079px)"
                    sizes="(min-width:768px) and (max-width:1079px) 340px, 100vw" />
                <source srcset="./images/ice-cream-1200.png 516w, ./images/ice-cream-1200@2x.png 1032w"
                    media="(min-width:1080px)" sizes="(min-width:1080px) 516px, 100vw" />
                <img src="./images/ice-cream-768.png" alt="big ice cream" />
            </picture>
        </div>
        <div class="hero__capacity" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <div class="hero__capacity-thumb">
                <span class="hero__capacity-number">16</span>
                <p class="hero__capacity-text">cafes</p>
            </div>
            <div class="hero__capacity-thumb">
                <span class="hero__capacity-number">23</span>
                <p class="hero__capacity-text">food trucks</p>
            </div>
        </div>
        <div class="hero__picture-girl" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <picture data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <source srcset="./images/girl-768.png 340w, ./images/girl-768@2x.png 780w"
                    media="(min-width:768px) and (max-width:1079px)"
                    sizes="(min-width:768px) and (max-width:1079px) 340px, 100vw" />
                <source srcset="./images/girl-1200.png 516w, ./images/girl-1200@2x.png 1032w"
                    media="(min-width:1080px)" sizes="(min-width:1080px) 516px, 100vw" />
                <img src="./images/girl-768.png" alt="girl eats ice cream" />
            </picture>
        </div>
    </div>
</section>