<section class="products" id="products">
    <div class="container">
        <span class="products__text">
            100% natural
        </span>
        <h2 class="products__title">products</h2>
        <ul class="products__list ">
            <li class="products__list-item" data-aos="zoom-in-right">
                <div class="item__container iceсream">
                    <!-- <img class="item__img" src="images/products-icecream.png" alt="ice cream" width="100%"> -->
                    <h3 class="container__title">ice cream</h3>
                    <!-- <img class="item__dots" src="images/dots.png" alt="dots" width="26px"> -->
                    <p class="container__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                    <button class="products__btn" type="button">
                        <img class="item__logo" src="images/arrow-right-x1.png" alt="arrow-right" width="40" height="40">
                    </button>
                </div>
            </li>
            
            <li class="products__list-item" data-aos="zoom-in-up">
                <div class="item__container icecoffe">
                    <!-- <img class="item__img" src="images/products-icecoffe.png" alt="icecoffe" width="100%"> -->
                    <h3 class="container__title">ice coffee</h3>
                    <!-- <img class="item__dots" src="images/dots.png" alt="dots" width="26px"> -->
                    <p class="container__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et.</p>
                <button class="products__btn" type="button">
                    <img class="item__logo" src="images/arrow-right-x1.png" alt="arrow-right" width="40" height="40">
                </button>
                </div>
            </li>
            
            <li class="products__list-item" data-aos="zoom-in-right">
                <div class="item__container milcshakes">
                    <!-- <img class="item__img" src="images/products-milcshake.png" alt="milcshakes" width="100%"> -->
                    <h3 class="container__title">milkshakes</h3>
                    <!-- <img class="item__dots" src="images/dots.png" alt="dots" width="26px"> -->
                    <p class="container__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et.</p>    
                    <button class="products__btn" type="button">
                        <img class="item__logo" src="images/arrow-right-x1.png" alt="arrow-right" width="40" height="40">
                    </button>
                    </div>
            </li>

        </ul>
    </div>
</section>