
.slider-section {
    padding-top: 80px;
}
  .slider__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 44px;
    margin-bottom: 29px;
  }
  .slider__text-container {
    padding-left: 57px;
    padding-right: 66px;
    padding-top: 43px;
    padding-bottom: 26px;
    background-color:  #FAFAFA;
    @media screen and (min-width: 768px) {
        padding-left: 50px;
        padding-right: 54px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 24px;
    }
    @media screen and (max-width:1199px) {
        margin-bottom: 24px;
    }
    @media screen and (max-width:767px) {
        margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
        padding-left: 50px;
        padding-right: 54px;
        padding-top: 32px;
        padding-bottom: 32px;
        margin-bottom: 15px;
    }
  }

  .slider__text {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 31px;
    text-align: center;
    color: black;
    z-index: 2;
  }

  .slider__text::before {
    content: '';
    background-position: center;
    background: url("/images/beforeslide.svg");
    position: absolute;
    background-repeat: no-repeat;
    width: 56px;
    height: 40px;
    top: -16px;
    z-index: -1;
    @media screen and (max-width: 767px) {
        left: -30px;
        top: 7px;
    }
    @media screen and (min-width: 768px) {
        left: -40px;
        
    }
    @media screen and (min-width: 1200px) {
        left: -10px;
        
    }
  }
  .underline {
    background: repeating-linear-gradient(
    180deg,transparent,transparent 28px,#e1e1e1 26px,#e1e1e1 29px);
    margin: 0 auto;
    z-index: 999;
    @media screen and (max-width: 767px) {
      max-width: 180px;
      padding-top: 24px;;
    }
    @media screen and (min-width: 768px) {
        max-width:  768px;
      
    }
    @media screen and (min-width: 1200px) {
        max-width: 1080px;;
      
  }
    // padding-bottom: 7px;
    // background-image: linear-gradient(to right, #E1E1E1 0%, #E1E1E1 100%);
    // background-repeat: repeat-x; 
    // background-position: 0 100%; 
    // background-size: 100% 1px; 
}
  .slider__title-box {
    margin-bottom: 30px;
  }
  .slider__title {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
  }
  .slider__title::before {
    display: block;
    margin: 0 auto;
    margin-bottom: 18px;
    background-size: cover;
    content: "";
    background-position: center;
    background: url("/images/slider-group.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 4px;
  }
  /* Ограничивающая оболочка */
  .slick-list {
  }
  // слайдер
  /* Лента слайдов */
  .slick-track{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slick-dots li{
    list-style: none;
    margin-right: 18px;
    &:last-child {
      margin-right: 0;
    }
  }
  /* Активная точка */
  .slider .slick-dots li.slick-active button{
    font-size: 0px;
    list-style: none;
    list-style-type: none;
    background-image: url(/images/slider-home.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: contain;
    border-radius: 0%;
  }
  /* Элемент точки */
  .slider .slick-dots li button {
    font-size: 0;
    border-style: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #d9d9d9;
    &::before {
      content: '';
    }
  }
