.hero {
  position: relative;
  background-color: $hero-background;
  height: 500px;

  @media screen and (min-width: 768px) {
    height: 400px;
  }

  @media screen and (min-width: 1080px) {
    height: 665px;
  }

  .hero__container {
    height: 100%;
    padding-top: 58px;
    display: flex;

    @media screen and (min-width: 480px) {
      position: relative;
      max-width: 480px;
    }

    @media screen and (min-width: 768px) {
      padding-top: 102px;
      min-width: 768px;
      height: 400px;
      justify-content: space-between;
    }
    @media screen and (min-width: 1080px) {
      padding-top: 140px;
      max-width: 1280px;
      height: 665px;
    }
  }
}

.hero__container-first {
  display: flex;
  @media screen and (min-width: 768px) {
    flex-direction: column;
    justify-content: space-between;
  }
  @media screen and (min-width: 1080px) {
    align-items: flex-start;
  }
}
.hero__title-wraper {
  max-width: 270px;
  z-index: 5;
  @media screen and (max-width: 767px) {
    padding-top: 137px;
  }
}
.hero__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  color: $white-text-color;
  font-size: 26px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 19px;
  @media screen and (min-width: 768px) {
    font-size: 22px;

    margin-bottom: 20px;
  }
  @media screen and (min-width: 1080px) {
    font-size: 38px;

    margin-bottom: 25px;
  }
}
.hero__title-accent {
  color: $title-text-color;
  font-family: Titan One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 0.9;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 34px;
  }
  @media screen and (min-width: 1080px) {
    font-size: 58px;
  }
}
.hero__button-products {
  color: $white-text-color;
  background-color: $secondary-button-text-color;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.3;
  text-decoration: none;
  cursor: pointer;

  border-radius: 20px;
  padding: 7px 13px;
  border: 1px $secondary-button-text-color;
  transition: color $timing-function, background-color $timing-function;

  @media (min-width: 1080px) {
    font-size: 14px;
    padding: 10px 17px;
  }
  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    color: $secondary-button-text-color;
    background-color: $white-text-color;
    border: 1px $secondary-button-text-color;
  }
}
.hero__button-about {
  color: $secondary-button-text-color;
  background-color: $primary-button-text-color;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.3;
  text-decoration: none;
  cursor: pointer;

  border: 1px transparent;
  border-radius: 22px;

  padding: 7px 11px;

  transition: background-color $timing-function;

  @media (min-width: 1080px) {
    font-size: 14px;
    padding: 10px 12px;
  }
  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: #ecebeb;
  }
}
.hero__milk {
  display: none;
  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 28px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  @media screen and (min-width: 1080px) {
    bottom: 73;
    left: -23px;
  }
}
.hero__milk-thumb {
  max-width: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;

  @media screen and (min-width: 1080px) {
    margin-left: 30px;
    max-width: 200px;
  }
}
.hero__milk-text {
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  color: $white-text-color;
  font-size: 8px;
  line-height: 1.5;
  margin-bottom: 7px;
  @media screen and (min-width: 1080px) {
    font-size: 14px;
    line-height: 1.43;
  }
}
.hero__button-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white-text-color;
  cursor: pointer;
  width: 26px;
  height: 26px;
  border-radius: 50px;
  border: 1px transparent;
  transition: background-color $timing-function;
  &:hover,
  &:focus {
    .hero__icon-arrow {
      stroke: $white-text-color;
    }
  }
  &:hover,
  &:focus {
    background-color: $title-text-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  @media screen and (max-width: 1079px) {
    width: 18px;
    height: 18px;
  }
}
.hero__icon-arrow {
  width: 10px;
  height: 10px;
  stroke: $title-text-color;
  transition: fill $timing-function;
}
.hero__container-second {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 480px;
  height: 500px;

  @media screen and (max-width: 479px) {
    overflow: hidden;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 400px;
    pointer-events: none;
  }
  @media screen and (min-width: 1080px) {
    max-width: 1280px;
    height: 665px;
    pointer-events: none;
  }

  &::before {
    position: absolute;
    top: 80px;
    left: 60px;
    display: block;
    width: 344px;
    height: 344px;
    border-radius: 50%;
    content: '';
    background-color: $pink-text-color;

    @media screen and (min-width: 768px) {
      top: 31px;
      left: 288px;
    }
    @media screen and (min-width: 1080px) {
      top: 52px;
      left: 375px;
      width: 538px;
      height: 538px;
    }
  }
}
.hero__main-img {
  position: absolute;
  top: 94px;
  left: 130px;
  z-index: 2;
  @media screen and (min-width: 480px) {
    top: 94px;
    left: 130px;
  }
  @media screen and (min-width: 768px) {
    top: 63px;
    left: 359px;
  }
  @media screen and (min-width: 1080px) {
    top: 108px;
    left: 494px;
  }
}

.hero__picture-girl {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    right: 35;
    bottom: 0;
    z-index: 5;
  }
}
.hero__capacity {
  position: absolute;
  right: 35;
  top: 94;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.hero__capacity-thumb {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 1080px) {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .hero__capacity-number {
    position: relative;
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    color: $digits-text-color;
    font-size: 28px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    z-index: 2;

    @media screen and (min-width: 1080px) {
      font-size: 46px;
    }

    &::before {
      position: absolute;
      top: -5%;
      right: -21%;
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      content: '';
      background-color: $white-text-color;
      z-index: -1;

      @media screen and (min-width: 1080px) {
        width: 30px;
        height: 30px;
      }
    }
  }
  .hero__capacity-text {
    color: $white-text-color;
    font-size: 8px;
    line-height: 1.2;
    @media screen and (min-width: 1080px) {
      font-size: 14px;
    }
  }
}
